[Unit]
Description=Traceroute Crawl
After=network.target

[Service]
Type=notify
EnvironmentFile=/etc/traceroute-crawl/site.conf.d/%i.conf
ExecStart=/usr/local/bin/traceroute-crawl.sh daemon_ns_systemd
KillSignal=SIGCONT

[Install]
WantedBy=multi-user.target
